<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
</head>
<body>

    <section th:fragment="addClient">
        <div id="addClient" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" th:text="#{accion.add}">Agregar cliente</h5>
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <form th:action="@{/guardar}" th:object="${persona}" method="POST" class="was-validated">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name" th:text="#{persona.name}">Nombre</label>
                                <input type="text" class="form-control" name="name" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="last" th:text="#{persona.last}">Apellido</label>
                                <input type="text" class="form-control" name="last" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{persona.email}">Correo Electronico</label>
                                <input type="email" class="form-control" name="email" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="phone" th:text="#{persona.phone}">Telefono</label>
                                <input type="tel" class="form-control" name="phone" />
                            </div>
                            <div class="form-group">
                                <label for="saldo" th:text="#{persona.saldo}">Saldo</label>
                                <input type="number" class="form-control" name="saldo" required="true" step="any"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" th:text="#{accion.save}">Guardar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>

</body>
</html>