<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="header">
    <h1 th:text="#{plantilla.titulo}"></h1>
    </header>

    <footer th:fragment="footer">
        <div>
            <br/>
            <a th:href="@{/(lang=es)}">ES</a> | <a th:href="@{/(lang=en)}">EN</a>
            <span> [[#{plantilla.pie-pagina}]] <a href="https://luisbaez.tk/" target="_blank">Mack Software</a></span>
            <form method="POST" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </div>

    </footer>
</body>
</html>