<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de la persona</title>
</head>
<body>
<h1>Datos de la persona</h1>
<a th:href="@{/}">Volver</a>
<br/>
<br/>
<form th:action="@{/guardar}" method="post" th:object="${persona}">
    <input type="hidden" name="idPersona" th:field="*{idPersona}" value="1"/>
    <br/>
    <label for="name">Nombre: </label>
    <input type="text" name="name" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:erros="*{name}">Error al introducir nombre</span>
    <br/>
    <label for="last">Apellido: </label>
    <input type="text" name="last" th:field="*{last}"/>
    <span th:if="${#fields.hasErrors('last')}" th:erros="*{last}">Error al introducir apellido</span>
    <br/>
    <label for="email">E-mail: </label>
    <input type="text" name="email" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:erros="*{email}">Error al introducir Email</span>
    <br/>
    <label for="phone">Telefono: </label>
    <input type="text" name="phone" th:field="*{phone}"/>
    <br/>
    <input type="submit" name="save" value="Guardar"/>
</form>

</body>
</html>