<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    <title>Inicio</title>
</head>
<body>

    <header th:replace="layout/plantilla :: header"></header>

    <section th:replace="layout/addButton :: addButton"></section>

    <!--<section th:replace="layout/addClient :: addClient"></section>-->

    <section th:replace="layout/clientList :: clientList"></section>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>