<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
<!--<h1>Mack Web Development</h1>-->
<br/>
<a th:href="@{/agregar}">Crear persona</a>
<br/>
<div th:if="${personas != null and !personas.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.name}">Mostrar Nombre Aqui</td>
            <td th:text="${persona.last}">Mostrar Apellido Aqui</td>
            <td th:text="${persona.email}">Mostrar email Aqui</td>
            <td th:text="${persona.phone}">Mostrar phone Aqui</td>
            <td><a th:href="@{/edit/}  + ${persona.idPersona}" th:text="Editar"></a></td>
            <!--http://localhost:8080/delete/5-->
            <!--<td><a th:href="@{/delete/}  + ${persona.idPersona}" th:text="Eliminar"></a></td>-->
            <!--Aqui hacemos un link con query parameters-->
            <!--http://localhost:8080/delete?idPersona=5-->
            <td><a th:href="@{/delete(idPersona=${persona.idPersona})}" th:text="Eliminar"></a></td>
        </tr>
    </table>

</div>
<div th:if="${personas == null or personas.empty}">

    La Lista de personas esta vacia

</div>

<!--<p>Nombre: <span th:text="${persona.name}">Mostrar Nombre Aqui</span></p>
<p>Apellido: <span th:text="${persona.last}">Mostrar Apellido Aqui</span></p>
<p>Email: <span th:text="${persona.email}">Mostrar Email Aqui</span></p>
<p>Telefono: <span th:text="${persona.phone}">Mostrar telefono Aqui</span></p>-->
<br/>

    <footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>